<%= title t(:title) %>
<% if @group %>
  <h2>Mostrando grupo '<%= @group %>'</h2>
  <%= link_to 'Mostrar todos', questions_path %>
<% end %>

<br/><br/>

<table>
  <thead> <tr>
      <td><%= t(:group) %></td>
      <td><%= t(:name) %></td>
      <td><%= t(:actions) %></td>
  </tr></thead>
  <% render @questions %>
</table>

<br />

