<% content_for(:header) do %>
  <%=  javascript_include_tag 'ajaxupload.3.5.js' %>
<% end %>


<% form_for @survey do |form| %>
  <%= next_step cuestionario_path(:id => 'presentacion') %>
  <p>
    <%= form.label :name, t(:name) %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :page_url, t(:page_url) %>
    <%= form.text_field :page_url %>
  </p>

  <p>
    <%= form.label :icon, t(:icon) %>
    <%= form.text_field :icon, :id => 'upload_field' %>
  </p>
  <%= js_upload_file(@survey.icon, :id => 'upload_field', :label => t('upload')) %>

  <p>
    <%= form.label :location, t(:location) %>
    <%= form.text_field :location %>
  </p>


  <p>
    <%= form.label :indi_colective, t(:indi_colective) %>
    <%= form.radio_button :indi_colective, :individual %><label class="radio">Proyecto individual</label>
    <%= form.radio_button :indi_colective, :proyecto %><label class="radio">Proyecto colectivo</label>
    <%= form.radio_button :indi_colective, :ambos %><label class="radio">Ambos</label>
  </p>

  <p>
    <label>Actividad que desempeñas</label>
    <table>
      <% Reu09.c(:presentacion, :ambito).each do |actividad| %>
        <tr>
          <td><%= t(actividad) %></td>
          <td><%= form.text_field actividad %></td>
        </tr>
      <% end %>
    </table>
  </p>

  <p>
    <%= form.label :interest, t(:interest) %>
    <%= form.text_area :interest %>
  </p>


  <p>
    <%= form.submit "Guardar" %>
  </p>
<% end %>
