<div class="dialog">
  <% form_for @user do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :username, t(:username) %>
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.label :email, t(:email) %>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password, t(:password) %>
      <%= content_tag(:span, t(:change_password), :class => 'field_info') unless @user.new_record? %>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation, t(:password_confirmation) %>
      <%= f.password_field :password_confirmation %>
    </p>
    <p>
      <%= f.label :options, t(:options) %>
      <%= f.check_box :request_info %>
      <label class="radio"><%= t(:request_info) %></label>
      <%= f.check_box :allow_publish %>
      <label class="radio"><%= t(:allow_publish) %></label>
    </p>
    <p class="bottom">
      <%= f.submit @user.new_record? ? t(:signup) : t(:update) %>
    </p>
  <% end %>
</div>