<%= title t(:title) %>

<div class="actions">
  <%= link_to t('index.title'), users_path %>
</div>

<table>
  <thead><tr>
    <td><%= t(:group) %> </td>
    <td><%= t(:name) %> </td>
    <td><%= t(:value) %> </td>
  </tr></thead>
  <% @user.answers.each do |a| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%= h a.question.group %></td>
      <td><%= link_to a.question.name, a.question %></td>
      <td><%= link_to a.value, edit_answer_path(a) %></td>
    </tr>
  <% end %>
</table>
