<%= title t(:title) %>

<% form_for(@feedback) do |f| %>
  <p>
    <%= f.label :body, t(:body) %>
    <%= f.text_area :body %>
  </p>
  <% if current_user.nil? %>
  <p>
    <%= f.label :email, t(:email) %>
    <%= f.text_field :email, :class => 'feedback' %>
  </p>
  <% end %>
  <p class="bottom">
    <%= f.submit t(:submit) %> <%= link_to 'Cancelar', root_path %>
  </p>
<% end %>

