<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Reu08 Cuestionario Online <%= yield(:title) || 'Bienvenida' %></title>
    <!-- link rel="icon" href="images/e3e.ico" type="image/x-icon" / -->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/reset/reset-min.css" />
    <%= stylesheet_link_tag 'q09' %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
    <%#= javascript_include_tag 'jquery.validator.js'  %>
    <%= yield :header %>
  </head>
  <body>

    <div id="app">
      <div id="account">
        <% if current_user %>
          <%= link_to t(:edit_profile), edit_user_path(:current) %> 
          <%= link_to t(:logout), logout_path %>
        <% else %>
          <%= link_to t(:signup), new_user_path %> 
          <%= link_to t(:login), login_path %>
        <% end %>
      </div>
      <h1><a href="/">Reu08 Cuestionario</a></h1>
    </div>
    <div id="navigation" class="container">
      <ul>
          <li><%= link_to_unless_current t(:users), users_path %></li>
          <li><%= link_to_unless_current t(:questions), questions_path %></li>
          <li><%= link_to_unless_current t(:buckets), buckets_path %></li>
      </ul>
    </div>

    <div class="container">
      <div class="column-1">
        <%= yield  %>
      </div>
    </div>
  </body>
</html>
